# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mac
*.DS_Store
/.idea/.gitignore
/.idea/compiler.xml
/.idea/Developer-Books.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
